@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background-size: cover;
    background-position: center;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #fffdff;
}
.container {
    margin-bottom: 150px;
    text-align: center;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 8px 32px #f5a359;
    width: 100vw;
    height: 80vh;
    background-color: #fff2df;
}
img {
    width: 50vw; 
    height: 35vh;
    object-fit: contain;
    margin-bottom: 10px;
    animation: fadeInRotate 2s ease-out forwards; 
}
h1 {
    color: #f5a359;
    font-family: "Comfortaa";
    font-weight: 300;
    font-size: 99px;
    margin: 0;
    animation: fadeInSlideDown 2s ease-out forwards;
    letter-spacing: 2px;
}
h2 {
    color: #f2ca74;
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 50px;
    animation: fadeIn 3s ease-out forwards;
    letter-spacing: 1px;
}

.buttons {
    margin-top: 20px;
}

.button1 {
    color: #fffdff;
    font-family: "Comfortaa";
    font-size: 25px;
    font-weight: 400;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px;
    background-color: #f5a359;
    border: none;
    transition: all 0.4s ease;
    box-shadow: 0 8px 16px #fffdff; 
}

.button1:hover {
    background-color: #f2ca74;
    transform: scale(1.1);
    box-shadow: 0 12px 24px #fffdff;
    transition: all 0.3s ease;
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: rotate(-360deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
    }
    .button1 {
        font-size: 20px;
        padding: 10px 20px;
    }
}
